@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: 
    /* radial-gradient(ellipse 60% 50% at 50% -30%, rgba(250, 250, 250, 15%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 80% 35% at 50% -10%, rgba(150,65,193, 60%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 25% 25% at 30% -15%, rgba(34, 211, 238, 80%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 15% 15% at 60% -10%, rgba(254, 240, 138, 80%) 0%, rgb(8 0 0 / 0%)) no-repeat;
} */

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}
